* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #5e9ad9;
    padding: 20px 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin-left: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: #f0f0f0;
}

.hero {
    background-color: #f4f4f4;
    padding: 40px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
}

.posts {
    padding: 40px 0;
    flex-grow: 1;
}

.post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post h2 {
    font-size: 28px;
}

.post p {
    font-size: 16px;
    color: #555;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}


footer {
    background-color: #5e9ad9;
    color: white;
    padding: 20px 0;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

.container {
    width: 80%;
    margin: 0 auto;
}
